streamlit==1.42.0
pymongo==4.11.1
# pip install -U langchain-community langchain-openai
# langchain                 0.3.18
# langchain-community       0.3.17
# langchain-core            0.3.35
# langchain-openai          0.3.6
langchain[openai]
langchain_community